*{
  margin: 0;
  padding: 0;
  outline: 0;
}
ol,ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
body{
}
.class1 ul{
float:right;
}
.class1 ul li {
  float: left;

}
.class1 ul li a{
display: block;
padding: 10px 10px;

font-size: 40px;
transition: all linear 0.4s;

}
i{
  width:50px;
  height:50px;
  background: #fff;

  border-radius: 25%;
  padding-left: 13px;
  padding-top: 10px;
  margin:2px 2px;

}
.class1 ul li:hover a{
  color:pink;

}




.class1{
  width:360px;
  height:100px;
  color:blue;
  background: green;
}
